* {
    margin: 0;
    padding: 0;
}

.title {
    background-color: #ffec3f;
    color: black;
    border-color: #000;
}

td, th {
    border: 1px solid #ffec3f;
    padding: 2px 4px;
    text-align: center;
    cursor: pointer;
}

/*.title>th>div>span{*/
/*    font-size: 18px;*/
/*    margin-right: 5px;*/
/*}*/

/*.title>th>div{*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

.App {
    background-color: black;
    min-height: 100vh;
    width: 200vw;
    color: white;
}

.App-button {
    margin-top: 10px;
    padding: 5px 5px;
    margin-right: 10px;
}

tbody > tr:hover {
    background-color: rgba(255, 255, 255, .5);
}

.App-navigation{
    margin-top: 10px;
}

.App-navigation>*{
    cursor: pointer;
}